.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
asjdf/df.txt
my_app/lib/pages/layouts/body.dart
my_app/lib/pages/layouts/footer.dart
api.js
messenger.css
messenger.html
