* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
}


.null {
    flex-grow: 1;
    /* background-color: rebeccapurple; */
}

.header {
    width: 100%;
}

.header > img {
    padding: 15px 0 15px 35px;
}



.content > .container {
    width: 90%;
    height: 100%;
    margin: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.content > .container > .sub-container {
    flex: 1;
    /* width: 50%; */
    /* background-color: rebeccapurple; */
}

.content > .container > .description {
    width: 100%;
    margin-top: 200px;
    /* background-color: black; */
    /* background-color: rebeccapurple; */
}

.content > .container > .description > .text-des {
    align-items: center;
    /* background-color: rebeccapurple; */
    position: relative;
}

.content > .container > .description > .text-des > .background {
    width: 450px;
    height: 450px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    /* background-color: black; */
}

.content > .container > .description > .text-des > .background > .circle-blur {
    /* width: 100px;
    height: 100px; */
    border-radius: 50%;
    /* background-color: #4461F2; */
    box-shadow: 0 0 100px 100px rgba(68, 97, 242, 0.3);
    /* border: 1px solid black; */
}
.content > .container > .description > .text-des > .background > .circle-blur2 {
    /* width: 100px;
    height: 100px; */
    top: 15%;
    left: 10%;
    position: absolute;
    /* width: 0px;
    height: 0px; */
    border-radius: 200%; 
    /* Tạo hình tròn */
    /* background-color: #DDA82A; */
     /* Màu nền của hình tròn */
    box-shadow: 0 0 100px 100px rgb(248, 209, 120); /* Tạo shadow với độ mờ và màu tương tự như nền */
}

.content > .container > .description > .text-des > .content-text-des {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* background-color: black; */
}

.content > .container > .description > .text-des > .content-text-des > .title > h2 {
    font-family: "Roboto", sans-serif;
    font-size: 58px;
    font-weight: 400;
    line-height: 77px;
}

.content > .container > .description > .text-des > .content-text-des > .text > span {
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 26.95px;
}

.content > .container > .description > .text-des > .content-text-des > .text > span > a {
    color: #6C83F1;
}

.content > .container > .description > .text-des > .content-text-des > .text > span > span:hover {
    cursor: pointer;
}
.btn-signin:hover{
    cursor: pointer;
}
.btn-signup:hover{
    cursor: pointer;
}
.content > .container > .background-image {
    margin-top: 200px;
}

.content > .container > .background-image > img {
    width: 90%;
}

.content > .container > .div-form {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.content > .container > .div-form > .header {
    display: flex;
    gap: 15px;
}



.content > .container > .div-form > .header > .choose-language > #choose-language {
    height: 100%;
    border: 0;
    background-color: transparent;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 19.92px;
    letter-spacing: 6%;
}

.content > .container > .div-form > .header > .choose-language > #choose-language:focus {
    outline: none;
}

.content > .container > .div-form > .header > .choose-page {
    display: flex;
}

.content > .container > .div-form > .header > .choose-page > .btn-choose-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > .container > .div-form > .header > .choose-page > .btn-choose-page > .content-btn {
    padding: 8px 15px;
    border-radius: 21px;
    background-color: #FFFFFF;
    /* background-color: black; */
}

.content > .container > .div-form > .header > .choose-page > .btn-choose-page > .content-btn > span {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 19.92px;
    letter-spacing: 6%;
    color: #4461F2;
}

.content > .container > .div-form > .header > .choose-page > .btn-choose-page > .line-bottom {
    width: 30%;
    height: 5px;
    border-radius: 5px;
    background-color: #4461F2;
}

/* Enable page signin */
.content > .container > .div-form > .header > .choose-page > .btn-signin > .content-btn {
    background-color: #FFFFFF;
    /* background-color: black; */


}

.content > .container > .div-form > .header > .choose-page > .btn-signup > .line-bottom {
    background-color: transparent;
}

.content > .container > .div-form > .header > .choose-page > .btn-signup > .content-btn {
    background-color: transparent;
}

.content > .container > .div-form > .header > .choose-page > .btn-signin > .line-bottom {
    background-color: #4461F2;
}

/* Enable page signup */
.content > .container > .div-form > .header > .signup > .btn-signup > .content-btn {
    background-color: #FFFFFF;
}

.content > .container > .div-form > .header > .signup > .btn-signup > .line-bottom {
    background-color: transparent;
}

.content > .container > .div-form > .header > .signup > .btn-signin > .content-btn {
    background-color: transparent;
}

.content > .container > .div-form > .header > .signup > .btn-signin > .line-bottom {
    /* background-color: #4461F2; */
}

.content > .container > .div-form > .form {
    display: flex;
    /* flex-direction: column; */
}

.content > .container > .div-form > .form > .form-1 {
    display: flex;
    flex-direction: column;
}

.content > .container > .div-form > .form > .form-1 > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content > .container > .div-form > .form > .form-1 > form > .form-control {
    display: flex;
    width: 400px;
    height: 60px;
    background-color: #EAF0F7;
    border-radius: 10px;
    /* background-color: black; */
}

.content > .container > .div-form > .form > .form-1 > form > .form-control > input {
    flex-grow: 1;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    background-color: transparent;
    padding-left: 15px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 77px;
}

.content > .container > .div-form > .form > .form-1 > form > .form-control > input[type='text'] {
    letter-spacing: 9%;
}

.content > .container > .div-form > .form > .form-1 > form > .form-control > input:focus {
    outline: none;
}

.content > .container > .div-form > .form > .form-1 > form > .form-control > .option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    /* background-color: white; */
}

.content > .container > .div-form > .form > .form-1 > form > .form-control > .option > img:hover {
    cursor: pointer;
}

.content > .container > .div-form > .form > .form-1 > form > .div-forgot-password {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    /* background-color: #EAF0F7; */
}

.content > .container > .div-form > .form > .form-1 > form > .div-forgot-password > span {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #C7C7C7;
}

.content > .container > .div-form > .form > .form-1 > form > .div-forgot-password > span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.content > .container > .div-form > .form > .form-1 > form > .div-btn-submit {
    margin-top: 30px;
}

.content > .container > .div-form > .form > .form-1 > form > .div-btn-submit > button {
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 10px;
    background-color: #4461F2;
    color: #FFFFFF;
    box-shadow: 0 12px 21px 4px rgba(68, 97, 242, 0.15);
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 9%;
}

.content > .container > .div-form > .form > .form-1 > form > .div-btn-submit > button:hover {
    cursor: pointer;
}

.content > .container > .div-form > .form > .form-1 > .other-connect {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.content > .container > .div-form > .form > .form-1 > .other-connect > .header {
    display: flex;
    align-items: center;
    /* background-color: black; */
}

.content > .container > .div-form > .form > .form-1 > .other-connect > .header > div {
    flex: 1;
}

.content > .container > .div-form > .form > .form-1 > .other-connect > .header > .line {
    width: 30%;
    height: 0;
    /* background-color: white; */

    border: 1px solid rgba(223, 223, 223, 1);
    /* background-color: black; */
}

.content > .container > .div-form > .form > .form-1 > .other-connect > .header > .title {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 9%;
    color: rgba(172, 173, 172, 1);
}

.content > .container > .div-form > .form > .form-1 > .other-connect > .content {
    display: flex;
    gap: 20px;
}

.content > .container > .div-form > .form > .form-1 > .other-connect > .content > div {
    flex: 1;
    width: 30%;
    height: 60px;
    border: 1px solid rgba(221, 223, 221, 1);
    border-radius: 10px;
    color: rgba(246, 246, 246, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.content > .container > .div-form > .form > .form-1 > .other-connect > .content > div:hover {
    cursor: pointer;
}